
h1{
    background-color:white;
    font-family: cursive;
}
.container{
    color: gray;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: lightblue;
}